<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="border border-grey-500 min-w-full">
                    <thead class="bg-grey-800 border-b	">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                #
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                Equipe
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                V
                            </th>
                            <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
                                D
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                        <tr class="bg-gray-800 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                2
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Celtics
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                51
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                31
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                2
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Bucks
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                51
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                31
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                        <tr class="bg-gray-900 border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                1
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Heat
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                53
                            </td>

                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                29
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>