<div class="flex flex-col">
	<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
		<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
			<div class="overflow-hidden">

				<ul>
					{# {{stats[0].name}} #}


				</ul>
				<table class="border border-grey-500 min-w-full">
					<thead class="bg-grey-800 border-b	">
						<tr>

							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								User Id
							</th>
							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								User name
							</th>
							<th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
								
							</th>
							
						</tr>
					</thead>
					<tbody>
						{# {% set i = 0  %} #}
						{% for user in users %}
							<tr class="bg-gray-900 border-b">
								{# <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
									{% set i = i + 1 %}
									{{ i }} 
								</td> #}

								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									{{user.id}}
								</td>
								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									{{user.login}}
								</td>
								<td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
									x
								</td>

								<td class="text-right">
									{# {% include './component/statsModal.twig' with {'stat': stat} only %} #}

								</td>

							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
