{% extends "pageLayout.twig" %}
{% block body %}

	<!-- noir avec opacité moins forte en background -->
	<a 
    type="submit" 
    class=" btn border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold" 
    href="./?controller=Home&action=default" 
    value="submit" name""
    >
    error
	</a>


{% endblock %}
