{% extends "pageLayout.twig" %}
{% block body %}
	<body>

	<a class="btn btn-primary border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold" href="./?controller=Users&action=listUsers">
	liste user
	</a>

		<div id="user">{# {{user.name ?
													 "{{user.name}}" 
													 : 
													 
													 }} #}




		</div>
		<!-- noir avec opacité moins forte en background -->


		<div class="text-white mt-10">
			<h1 class="font-bold text-4xl">salut{{users.login}}, te voici dans l'accueil</h1>
			<a type="submit" class=" btn btn-primary border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold " href="./?controller=ScoreTable" value="submit" name"">Tableau des scores</a>
		</div>
		{% if users.login is defined %}

			
			{% include './component/disconnect.twig' with {'users': users} only %}

		{% else %}

			{% include './component/connectionButton.twig' %}
		{% endif %}
	{% endblock %}
