{% extends "pageLayout.twig" %}
{% block body %}
	{% for user in users %}
		<table>

			<td>{{ user.username|e }}</td>
            <td>{{user.login}}</td>
            

			<td><a href="?controller=users&action=delete&id=' .   $persoInit->getId() . '" class="text-danger">x</a></td>
						
			<td><a href="?controller=users&action=edit&id=' .  $persoInit->getId() . '">'modifier '</a></td>
			

		</table>

	{% endfor %}
{% endblock %}
