<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script>
			tailwind.config = {
theme: {
extend: {
colors: {
clifford: '#da373d'
}
}
}
}
		</script>
		<style type="text/tailwindcss">
			@layer utilities {
												      .content-auto {
												        content-visibility: auto;
												      }
												    }
		</style>
		<title>Document</title>
	</head>
	<body>
		<header>
			{% block header %}{% endblock %}
		</header>
		<main>
		{% include './component/navbar.twig' %}
			<div class="flex items-center justify-center h-screen bg-[url('./public/images/bg1.jpg')] bg-no-repeat bg-cover">
				<div class="bg-gray-800 flex flex-col w-2/6 border border-gray-900 rounded-lg px-8 py-10"> 
				{% block body %}
				{% endblock %}
					</div>

				</div>
			</main>

			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</body>
	</html>
