{% extends "pageLayout.twig" %}
{% block body %}
	<body>
		<div
			class="flex items-center justify-center h-screen bg-[url('./public/images/bg1.jpg')] bg-no-repeat bg-cover">
			<!-- noir avec opacité moins forte en background -->
			<div class="bg-gray-800 flex flex-col w-2/6 border border-gray-900 rounded-lg px-8 py-10">
				<div class="text-white mt-10">
					<h1 class="font-bold text-4xl">Welcome</h1>
					<p class="font-semibold">Let's create your account!</p>
				</div>
				{% if user is defined %}

					<p>salut
						{{ user.login }}
					</p>

				{% endif %}
			</div>

		</div>
	{% endblock %}
</body>
