{% extends "pageLayout.twig" %}
{% block body %}
	<body>
		<!-- noir avec opacité moins forte en background -->
		<div class="text-white mt-10">
			<h1 class="font-bold text-4xl">salut
				{{users.login}}, te voici dans l'accueil</h1>

                {% include './tableau/tableau.html' %}

			<a type="submit" class=" btn btn-primary border border-blue-500 bg-blue-500 text-white rounded-lg py-3 font-semibold " value="submit" name"">Tableau des scores
			</a>


		</div>



	{% endblock %}

